body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    min-height: 50vh;
}

h2 {
    text-align: center;
}

.mensagem {
    color: <?php echo isset($cor_mensagem) ? $cor_mensagem : '#000'; ?>;
    text-align: center,
    font-size: 1.2rem,
    margin-bottom: 20px,
};


form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.btn-listagem {
    margin-top: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #007bff;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/img/logo.png') no-repeat center center;
    background-size: 40%;
    background-position: center 90px; /* Abaixar a logo */
    background-attachment: fixed;
    opacity: 0.2;
    z-index: -1;
}

/* Estiliza a bola de ajuda */
.help-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #007bff; /* Cor azul */
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    transition: background 0.3s, transform 0.2s;
}

/* Efeito ao passar o mouse */
.help-button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}